#!/bin/bash
# This script is used to configure a Linux instance with Ansible user and SSH access. SAMPLE
# useradd -m -p $(echo "JINJA_VAR_GOES_HERE" | openssl passwd -1 -stdin) ansibleadmin
# usermod -a -G sudo ansibleadmin
# usermod -a -G wheel ansibleadmin
# sed -i 's/PasswordAuthentication.*/PasswordAuthentication yes/' /etc/ssh/sshd_config
# service ssh restart
# service sshd restart
